# Dependencies
node_modules/
/.pnp
.pnp.js
.wrangler/

# Build outputs
/dist
/build
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.stackdump
*.zip
/Maverick images/allImg
*~
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files

.cache/
.turbo

#Other
/docs*
README.md
logo.psd